@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Slabo 27px', serif;
    background-color: #8D8741;
}
main {
    display: flex;
    justify-content: space-around;
}
#formSubmit {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #BC986A;
    background-color: #FBEEC1;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px;
}

dl > li {
    list-style-type: none;
}

#newContent {
    border-style: solid;
    border-width: 3px;
    border-color: #BC986A;
    background-color: #FBEEC1;
    /* margin-left: auto;
    margin-right: auto;
    width: 500px; */
    padding: 20px;
}

#users dl li {
    text-indent: 0px;
}

#users dl li div {
    /* margin: 0 auto; */
    border: 1px solid #BC986A;
}
img {
    /* margin-left: auto;
    margin-right: auto;
    width: 200px; */
}