@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Slabo 27px', serif;
    background-color: #8D8741;
}
main {
    display: flex;
    justify-content: space-between;
}
#formSubmit {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #BC986A;
    background-color: #FBEEC1;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    padding: 20px;
}

dl {
    padding: 1rem;
}

dl > li {
    list-style-type: none;
}

dl:nth-of-type(even) {
    background-color: #BC986A;
}

dl:nth-of-type(odd) {
    background-color: #DAAD86;
}

#newContent {
    display: none;
    border-style: solid;
    border-width: 3px;
    border-color: #BC986A;
    background-color: #FBEEC1;
    padding: 20px;
}

#users dl li div {
    border: 1px solid #BC986A;
}