@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: 'Slabo 27px', serif;
    background-color: #8D8741;
}
#formSubmit {
    text-align: center;
    float: center;
    border-style: solid;
    border-width: 3px;
    border-color: #BC986A;
    background-color: #FBEEC1;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px;
}
dl {
    list-style-type: none;
    list-style-position: outside;
}
#newContent {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #BC986A;
    background-color: #FBEEC1;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px;
}
#users dl li {
    text-indent: -40px;
}
#users dl li div {
    margin: 0 auto;
    border: 1px solid #BC986A;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}